<h1>Hello and Hi, Welcome to the servers cheat sheets</h1>
<h3>Are you a server in the hospitality?</h3>
<h4>Having trouble remembering all the plates and there ingredients?</h4>
<h4>Create an account and have all the plates you cant remember</h4>



<a href="/signup">Sign Up!</a><br>
<a href="/login">Log In Here!</a>