<h1>Hello!</h1><br>
<h4>Fill out the fields below to log in to your Account</h4>

<form method="post" action="/login">
    Username: <input type="text" name="user[username]">
    Password: <input type="text" name="user[password]">
    <input type="submit" value="Log Up!">
</form>