<h1>Create Your Account and Sign Up</h1>


<form method="post" action="/signup">
    Username: <input type="text" name="user[username]">
    Password: <input type="text" name="user[password]">
    <input type="submit" value="Sing Up!">
</form>